@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Serif&family=Playfair+Display:ital,wght@1,500&family=Reem+Kufi+Fun&display=swap');

.navbar{
    background-color: grey ;
}

.brand{
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
}

.brand:hover{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

.offcanvas{
    background-color: grey;
}

.nav-link:visited{
    color: white;
}